h2 {text-align: center;}

header {border: 3px solid yellow;}
nav {border: 3px solid blue; width: 200px; float: left;}
section {border: 3px solid red; margin-left: 206px;}
footer {border: 3px solid green;}

.page {border: 3px solid brown;}

body {margin: 0;}

.color_box {border: 3px solid black; background-color: aquamarine; width: 200px;}

.margin {margin: auto;}
.position {position: absolute; right: 0;}

.float {float: right; right: 0;}

/*margin은 중앙정렬, position은 좌우정렬에 좋음*/